body {
  margin: 0;
<<<<<<< HEAD
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
=======
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
>>>>>>> 5c23259ee3775ba5c2ea17c3b71b86cd3f56ec74
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
<<<<<<< HEAD
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
=======
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

>>>>>>> 5c23259ee3775ba5c2ea17c3b71b86cd3f56ec74
