.footer{
    background-color: rgb(138, 133, 133);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-shadow: rgb(70, 70, 70) 3px 2px;
    width: 100vw;
    
    p{
        display:flex;
        justify-content: space-evenly;
        font-size: 18px;
        margin:5px;
    }

    a{
        i{
            font-size: 50px;
            margin-right: 10px;
        }

        i:hover{
            transform: scale(110%);
        }
    }
}

@media screen and (max-width:630px){
    .footer{
        background-color: rgb(138, 133, 133);
        font-size: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: rgb(70, 70, 70) 3px 2px;
    
        p{
            display:flex;
            justify-content: center;
            font-size: 18px;
            margin:5px;
        }
    
        a{
            i{
                font-size: 50px;
                margin-right: 10px;
            }
    
            i:hover{
                transform: scale(110%);
            }
        }
    }
}