.logo {
    // padding: 20px;
    // margin: auto;
    margin-left: 25px;
    // justify-self: flex-start;
    // margin-right: 200px;
    // position: relative;
    // left: 5px;
    display: flex;
    // position: absolute;
    // top: 5px;
    // left: -15%;
    // transform: translate(-50%);
    // transform: scale(1.8);
    transform: translateY(40px);
    background: url(../assets/cleanFistTEST.png) center/cover;
    height: 120px;
    width: 140px;
    align-items: center;
    justify-content: center;
    // border-radius: 10px;
    // box-shadow: 0px 1px 2px 0px rgba(51, 51, 51, 0.5);
    h3 {
        color: $color-2;
        letter-spacing: 1px;
    }
    img {
        height: 34px;
        width: 34px;
        margin-right: 10px;
        object-fit: cover;
        display: none;
    }
}